<% include partials/header %>
      <div class="row">
      <div class="col-md-12 tittle">
        <h1>Techsperience</h1>
      </div>
      </div>
      <div class="container">
        <div class="card">
          <form>
            <div class="input-container">
              <label for="Username">Title: </label>
              <input class="title" type="text" id="Username" required="required"/>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <label for="Username">Physical Location: </label>
              <input class="physical" type="text" id="Username" required="required"/>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <label for="Username">Company Name: </l abel>
              <input class="companyname" type="text" id="Username" required="required"/>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <label for="Password">Document Number: </label>
              <input class="companynr" type="text" id="Password" required="required"/>
              <div class="bar"></div>
            </div>
            <label for="Password">Description: </label>
            <textarea class="desx" name="comment" form="usrform">
              Description...</textarea>
            <div class="button-container">
              <button><span>Upload</span></button>
            </div>
            <div class="footer"><a href="#">Clear!</a></div>
          </form>
          <br>
          <br>
          <table border="1">
          <tr>
            <th>nr.</th>
            <th>Physical location</th>
            <th>Company Name</th>
            <th>Doc. Numb.</th>
            <th>Description</th>
            <th>File Name</th>
          </tr>
          <tr>
            <td>1</td>
            <td>ODK</td>
            <td>312</td>
            <td>312</td>
            <td>312</td>
            <td> <a href="#">techsperience.rar</a> </td>
          </tr>

          <tr>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td> <a href="#"><%= %></a> </td>
          </tr>
          </table>

        </div>
<% include partials/footer %>
